* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}
#square2 {
    background: #65655f;
    width: 164px;
    height: 257px;
    top: 218px;
    left: 511px;
    position: absolute;
    transform: skew(58deg) rotateX(67deg);
    box-shadow: 10px -2px 62px 0px rgba(0,0,0,0.5);
}
#square1 {
    background: #797972;
    width: 164px;
    height: 257px;
    top: 170px;
    left: 511px;
    position: absolute;
    transform: skew(58deg) rotateX(67deg);
}
#square3 {
    background: #694811;
    width: 96px;
    height: 257px;
    top: 193px;
    left: 460px;
    position: absolute;
    transform: skew(58deg) rotateX(67deg) rotateY(-35deg);
}
#square4 {
    background: #e0e0e0;
    width: 166px;
    height: 48px;
    top: 348px;
    left: 587px;
    position: absolute;
}
#cricle1 {
    background: #e6deb985;
    width: 299px;
    height: 100px;
    border-radius: 50%;
    top: 300px;
    left: 122px;
    position: absolute;
}
#cricle2 {
    background: #dcd8c8;
    width: 299px;
    height: 100px;
    border-radius: 50%;
    top: 250px;
    left: 122px;
    position: absolute;
}
#square5 {
    background: #e6deb985;
    width: 299px;
    height: 100px;
    border-radius: 0 0 100% 100%;
    top: 300px;
    left: 122px;
    position: absolute;
    box-shadow: 18px 17px 61px -15px rgba(0,0,0,0.5);
}
#ball1 {
    background: #fff7d5;
    width: 112px;
    height: 77px;
    border-radius: 0 0 80% 80%;
    top: 236px;
    left: 214px;
    position: absolute;
}
#ball2 {
       background: #fffae4;
       width: 112px;
       height: 112px;
       border-radius: 100%;
       top: 157px;
       left: 124px;
       position: absolute;
}
#ball3 {
       background: #f5f0dd;
       width: 112px;
       height: 112px;
       border-radius: 100%;
       top: 157px;
       left: 211px;
       position: absolute;
}
#ball4 {
       background: #fffae4;
       width: 112px;
       height: 112px;
       border-radius: 100%;
       top: 157px;
       left: 293px;
       position: absolute;
}
#ball5 {
       background: #fffae4;
       width: 112px;
       height: 112px;
       border-radius: 100%;
       top: 71px;
       left: 155px;
       position: absolute;
}
#ball6 {
       background: #fffae4;
       width: 112px;
       height: 112px;
       border-radius: 100%;
       top: 79px;
       left: 216px;
       position: absolute;
}
#ball7 {
          background: #fdfae4;
    width: 112px;
    height: 112px;
    border-radius: 100%;
    top: 71px;
    left: 276px;
    position: absolute;
}
#ball8 {
       background: #fefae4;
       width: 112px;
       height: 112px;
       border-radius: 100%;
       top: 100px;
       left: 134px;
       position: absolute;
}
#ball9 {
       background: #fefae4;
       width: 112px;
       height: 112px;
       border-radius: 100%;
       top: 102px;
       left: 298px;
       position: absolute;
}
#ball10 {
       background: #fffae4;
    width: 112px;
    height: 112px;
    border-radius: 100%;
    top: 157px;
    left: 134px;
    position: absolute;
}
.arc{
	    background: #ec9b3f;
    width: 42px;
    height: 76px;
    top: 32px;
    left: 234px;
    position: absolute;
    border-radius: 100px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(-44deg);
    transition: background-color 2s ease-out;
    animation: move 2s linear infinite;

	}

.arc :hover {
  background-color: green;
  cursor: pointer;
}

@keyframes move {
  0% { background: red;  }
  100% { background: #ec9b3f; }
}
	#arc2{
	background: yellow;
    width: 11px;
    height: 20px;
     top: 85px;
    left: 257px;
    position: absolute;
    border-radius: 100px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(-44deg);
	}

#shabi1 {
     background: #eff0f1;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top: 220px;
    left: 596px;
    position: absolute;
    transform: skew(51deg) rotateX(61deg) rotateY(-44deg);
}
#shabi2 {
       background: #eff0f1;
       width: 100px;
       height: 100px;
       border-radius: 100%;
       top: 222px;
       left: 505px;
       position: absolute;
       transform: skew(27deg) rotateX(61deg) rotateY(-44deg);
       /* box-shadow: 11px 11px 42px 8px rgba(0, 0, 0, 0.28); */
}
#shabi5 {
    background: #eff0f1;
    width: 75px;
    height: 80px;
    border-radius: 100%;
    top: 197px;
    left: 477px;
    position: absolute;
    transform: skew(11deg) rotateX(61deg) rotateY(-44deg);
}
#shabi3 {
      background: #eff0f1;
      width: 170px;
      height: 147px;
      border-radius: 100%;
      top: 138px;
      left: 505px;
      position: absolute;
      transform: skew(7deg) rotateX(0deg) rotateY(0deg);
      background: rgba(230,230,230,1);
background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(59%, rgba(237,237,237,1)), color-stop(100%, rgba(247,247,247,1)));
background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f7f7f7', GradientType=1 );
}
#shabi4 {
      background: #eff0f1;
      width: 116px;
      height: 129px;
      border-radius: 100%;
      top: 144px;
      left: 599px;
      position: absolute;
      transform: skew(2deg) rotateX(0deg) rotateY(28deg);
      background: rgba(230,230,230,1);
      background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(59%, rgba(237,237,237,1)), color-stop(100%, rgba(247,247,247,1)));
      background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f7f7f7', GradientType=1 );
}
#shabi6 {
      background: #eff0f1;
      width: 128px;
      height: 140px;
      border-radius: 35% 35% 0 0;
      top: 67px;
      left: 499px;
      position: absolute;
      transform: skew(6deg) rotateX(0deg) rotateY(28deg);
      background: rgba(230,230,230,1);
background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(59%, rgba(237,237,237,1)), color-stop(100%, rgba(247,247,247,1)));
background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f7f7f7', GradientType=1 );
}

#shabi7 {
      background: #eff0f1;
      width: 45px;
      height: 100px;
      border-radius: 100%;
      top: 122px;
      left: 659px;
      position: absolute;
      transform: skew(2deg) rotateX(0deg) rotateY(28deg);
      background: rgba(230,230,230,1);
      background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(59%, rgba(237,237,237,1)), color-stop(100%, rgba(247,247,247,1)));
      background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f7f7f7', GradientType=1 );
}
#shabi8 {
      background: #eff0f1;
      width: 45px;
      height: 100px;
      border-radius: 100%;
      top: 121px;
      left: 607px;
      position: absolute;
      transform: skew(2deg) rotateX(0deg) rotateY(28deg);
      background: rgba(230,230,230,1);
      background: -moz-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,230,230,1)), color-stop(59%, rgba(237,237,237,1)), color-stop(100%, rgba(247,247,247,1)));
      background: -webkit-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -o-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: -ms-linear-gradient(left, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(237,237,237,1) 59%, rgba(247,247,247,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f7f7f7', GradientType=1 );
}
#cricle6 {
      background: black;
      width: 10px;
      height: 20px;
      border-radius: 50%;
      top: 192px;
      left: 636px;
      position: absolute;
     }
#cricle7 {
      background: black;
      width: 10px;
      height: 20px;
      border-radius: 100%;
      top: 191px;
      left: 674px;
      position: absolute;
     }